<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
</head>
<body>
    <div class="navigation">
        <ul>
            <li>Home</li>
            <li>services</li>
            <li>About us</li>
        </ul>
    </div>

    <h4>Marketing</h4>
    <p>Marketing is the process of identifying, anticipating, and satisfying customer needs and wants through the creation,
         promotion, distribution, and selling of products or services. It aims to build strong customer relationships and
         deliver value, ultimately driving business growth.

    </p>

    <h3>Affliate markerting</h3>
    <p>Affiliate marketing is a performance-based marketing strategy where businesses reward individuals
     (affiliates) for driving traffic, leads, or sales through the affiliate's marketing efforts.
     Affiliates promote a company's products or services using a unique tracking link and
     they earn a commission for every successful conversion (e.g., sale or lead) attributed to their referral.

    </p>

</body>
</html>