<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            color:white;
            font-size:10px
            display:flex;
        }
        li{
            border:30px;
            border-style: solid;
            border-color: blue;
            margin:10px;
            background-color: blue;
            border-radius:20px;
        }
        ul{
            display: flex;
        }
        li:hover{
            color:white
        }
    </style>

</head>
<body class="body">
    <div class="box">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="{% url 'studentmarks' %}">Enter marks</a></li>
        </ul>
    </div>

</body>
</html>

